---
title: 縱Latin / Latin縱活字
---
<link rel="stylesheet" href="/lib/assets/vertical_latin/index.css"/>

<div class="vertical-content">
  <p>「縱ラテン」と「ラテン縱活字」は別の目的のもとに開發されてゐます。縱ラテンは縱書きの文章中にラテン文字を手書きする爲に、ラテン縱活字はラテン字を縱に竝べ印刷する機會に字を九十度囘轉させずともよいやうにするため開發されてゐます。</p>

  <h1>縱ラテン</h1>
  <p>Coming soon.</p>

  <div class="index">
    <section class="index_item">
      <h1><a href="standard">一覽表</a></h1>
      <p><img src="" alt=""/></p>
      <p>現行の縱ラテンの規格を揭載します。</p>
    </section>
  </div>

  <h2>縱ラテンの改訂に就いて</h2>
  <p>縱ラテンの使用者は現在井上幸亨郞のひとりだけです。井上幸亨郞の同意が縱ラテン改訂の條件となります。</p>

  <h2>書例</h2>
  <p>ギャラリーです。縱ラテンの書例を展示します。</p>
  <p>書例への揭載は、井上幸亨郞に連絡ください。</p>
  <p><a href="https://www.pinterest.com/nesachirou/vertical-latin/">Pinterest: Vertical Latin</a></p>

  <h1>ラテン縱活字</h1>
  <p>Coming soon.</p>

  <div class="index">
    <section class="index_item">
      <h1><a href=""></a></h1>
      <p><img src="" alt=""/></p>
      <p></p>
    </section>
  </div>
</div>

<script src="/lib/assets/taketori.js"></script>
<script src="/lib/assets/vertical_latin.js"></script>
