<link rel="stylesheet" href="/lib/assets/vertical_latin.css"/>

<div class="vertical-content">
  <p>「縱ラテン」と「ラテン縱活字」は別の目的のもとに開發されてゐます。縱ラテンは縱書きの文章中にラテン文字を手書きする爲に、ラテン縱活字はラテン字を縱に竝べ印刷する機會に字を九十度囘轉させずともよいやうにするため開發されてゐます。</p>

  <h1>縱ラテン</h1>
  <p>Coming soon.</p>

  <div class="index">
    <section class="index_item">
      <h1><a href="standard">一覧表</a></h1>
      <p><img src="" alt=""/></p>
      <p>現行の縦ラテンの規格を掲載します。</p>
    </section>
  </div>

  <h2>縦ラテンの改訂に就いて</h2>
  <p>縦ラテンの使用者は現在井上幸亨郎のひとりだけです。井上幸亨郎の同意が縦ラテン改訂の条件となります。</p>

  <h2>書例</h2>
  <p>ギャラリーです。縦ラテンの書例を展示します。</p>
  <p>書例への掲載は、井上幸亨郎に連絡ください。</p>
  <p><a href="https://www.pinterest.com/nesachirou/vertical-latin/">Vertical Latin</a></p>

  <h1>ラテン縱活字</h1>
  <p>Coming soon.</p>

  <div class="index">
    <section class="index_item">
      <h1><a href=""></a></h1>
      <p><img src="" alt=""/></p>
      <p></p>
    </section>
  </div>
</div>

<script src="/lib/assets/taketori.js"></script>
<script src="/lib/assets/vertical_latin.js"></script>
