<h1>橫假名</h1>
<p><ruby><rb>橫假名</rb><rp>[</rp><rt>よこがな</rt><rp>]<rp></ruby>とは、橫書きのために開發された假名文字です。</p>
<p>現在世の中には「ひらがな」と「カタカナ」といふ二つの假名文字がひろく使はれてゐます。これらはどちらも漢字に由來するものですが、その書きぶりはおおきく異なります。カタカナは表語文字である漢字の列に、振り假名や助詞を插し込むやうに發達した文字です。抽象的な記號もオトとして書く事ができますから、近年になり西洋語をそのまま取り込むことができぬほど發達してしまった日本語に、抽象語をそのまま取り込む役を果たしました。一方でひらがなは、漢字を音として使ひ日本語を書き表はさうとしてゐた萬葉假名の時代から、日本語の一音一音ではなく一語として書き表はせることができるやうに、連綿させて發達した文字です。ひらがなは續け書きが基本だと言へます。</p>
<p>近年になり西洋語の活字にあはせるやうに、假名も活字化されました。連綿體のまま版畫印刷され、漢字の中に混ぜて書くには適應した假名文字でしたが、同じ筆法で西洋アルファベットの中に混ぜる事はできなかったからです。活字化したことで、假名文字は縱にも橫にも組めるやうになりました。それとともに、手書きの假名文字も活字化されました。書く字と讀む讀む字は一致してゆき、活字體はもはや連綿體と同一の文字とは言へない、讀む字が活字體に固定されたならば、書く字も連綿體から變化することになります。もうひとつは、連綿體のひらがなは文章を橫書きできません。</p>
<p>橫假名は、ひらがなを橫に手書きする問題を解決する爲に作られました。求心的な書きぶりをもつ漢字は縱にも橫にも書けます。その閒に振り假名を振ってゆく。もうひとつは、假名を連綿させて一語の塊をつくる必要があります。</p>
<p>橫假名は先例に倣ふ方針で設計されました。主にひらがなの、時にカタカナの面影を殘しながら、英語アルファベットの筆記體とキリル文字の筆記體の構造から導いて作られてゐます。その爲に、崩した漢字とともに使はれるひらがなとは思想を異にしてゐます。漢字は求心的な形態を保ったまま、橫假名文の中に重石として置かれてゆきます。<b>橫假名は英語の思考で書かれた日本語である</b>と云ふのが橫假名の思想だと言へるでせう。</p>

<div class="index">
  <section class="index_item">
    <h1><a href="standard">一覧表</a></h1>
    <p><img src="" alt=""/></p>
    <p>現行の橫假名の規格を掲載します。</p>
  </section>
  <section class="index_item">
    <h1><a href="font">字體 (フォント)</a></h1>
    <p><img src="" alt=""/></p>
    <p>橫假名を電算機上でよく使ふための字體 (フォント) を制作・配布します。</p>
  </section>
</div>

<h2>橫假名の改訂に就いて</h2>
<p>橫假名は二度改訂されてゐます。</p>
<p>橫假名の創案者とは現在面識がありません。創案者による橫假名の紹介文を、井上幸亨郎が橘榛名に見せたのが、橫假名史上二人目の使用者です。橘榛名による數年の使用を経て、不器用な人間が長期にわたり使用しやすいやう少しの改訂を受けました。その後井上幸亨郎も橫假名を習得し、現代日本語を表記するのに支障ないやう、また少しの改訂をうけました。</p>
<p>現在、橫假名の改訂プロセスは設けられてゐません。橫假名の使用者はおそらく橘榛名と井上幸亨郎のふたりだけであり、このふたりの合意が橫假名の規格となってゐます。</p>
<p>今後橫假名の使用者が増えても、暫くは使用者全員での曖昧な合意が改訂のプロセスとなります。よって橫假名の使用者は、橘榛名と井上幸亨郎に、あなたが使用者である旨を報せておくのがよいでせう。</p>
<p>更に使用者が増えた場合には、改訂のプロセスを議論する場を設けます。</p>

<h2>書例</h2>
<p>ギャラリーです。橫假名の書例を展示します。</p>
<p>書例への掲載は、井上幸亨郎に連絡ください。</p>
<a data-pin-do="embedBoard" href="https://www.pinterest.com/nesachirou/%E6%A9%AB%E5%81%87%E5%90%8D/" data-pin-scale-width="80" data-pin-scale-height="200" data-pin-board-width="400">さっちゃん さんの Pinterest ボード「橫假名」をフォローしましょう。</a>

<script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
