<h1>橫假名</h1>
<p>橫假名 (よこがな) とは、横書きのために開発された假名文字です。</p>
<p>現在世の中には「ひらがな」と「カタカナ」といふ二つの假名文字がひろく使はれてゐます。これらはどちらも漢字に由来するものですが、その書きぶりはおおきく異なります。カタカナは表語文字である漢字の列に、振り假名や助詞を挿し込むやうに発達した文字です。抽象的な記号もオトとして書く事ができますから、近年になり西洋語をそのまま取り込むことができぬほど発達してしまった日本語に、抽象語をそのまま取り込む役を果たしました。一方でひらがなは、漢字を音として使ひ日本語を書き表はさうとしてゐた萬葉假名の時代から、日本語の一音一音ではなく一語として書き表はせることができるやうに、連綿させて発達した文字です。ひらがなは続け書きが基本だといへます。</p>
<p>近年になり西洋語の活字にあはせるやうに、假名も活字化されました。連綿體のまま版畫印刷され、漢字の中に混ぜて書くには適応した假名文字でしたが、同じ筆法で西洋アルファベットの中に混ぜる事はできなかったからです。活字化したことで、假名文字は縦にも横にも組めるやうになりました。それとともに、手書きの假名文字も活字化されました。書く字と読む讀む字は一致してゆき、活字體はもはや連綿體と同一の文字とは言へない、讀む字が活字體に固定されたならば、書く字も連綿體から変化することになります。もうひとつは、連綿體のひらがなは文章を横書きできません。</p>
<p>橫假名は、ひらがなを横に手書きする問題を解決する為に作られました。求心的な書きぶりをもつ漢字は縱にも横にも書けます。その間に振り假名を振ってゆく。もう一つには、假名を連綿させて一語の塊をつくる必要があります。</p>
<p>橫假名は先例に倣ふ方針で設計されました。主にひらがなの、時にカタカナの面影を残しながら、英語アルファベットの筆記體とキリル文字の筆記體の構造から導いて作られてゐます。その為に、崩した漢字とともに使はれるひらがなとは思想を異にしてゐます。漢字は求心的な形態を保ったまま、橫假名文の中に重石として置かれてゆきます。<b>橫假名は英語の思考で書かれた日本語である</b>と云ふのが橫假名の思想だと言へるでせう。</p>

<h1>Coming soon.</h1>
