<p>Coming soon.</p>

<h1>橫假名の一覽表</h1>
<p>各假名の異形は、手癖の範圍に含まれると判斷された、旣知のものを揭載する。</p>
<table>
  <tr>
    <th>假名</th>
    <th>孤立形 (標準)</th>
    <th>續け書き (標準)</th>
    <th>備考、異形</th>
  </tr>
  <tr>
    <td>あ ア a</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>い イ i</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>う ウ u</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>え エ e</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>お オ o</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<p>Coming soon.</p>

<h2>濁音、半濁音</h2>
<p>濁音・半濁音にしたい假名の上に、それぞれ濁音符・半濁音符を附ける。濁點・半濁點にあたるもので、さう呼んでもよい。</p>
<p>Coming soon.</p>

<h2>拗音・捨て假名</h2>
<p>拗音にしたい假名の上に、拗音符を附ける。ぁ行や「ゎ」「ヶ」「ㇻ」等も同樣である。</p>
<p>Coming soon.</p>

<h2>促音</h2>
<p>捨て假名と見做し、拗音符を流用する。「つ」に拗音符を附け「っ」とする。</p>
<p>Coming soon.</p>

<h2>長音</h2>
<p>長音を發音するモーラを一文字分空け、上に長音符を置く。</p>
<p>Coming soon.</p>

<h2>サ變合字</h2>
<p>サ變の活用語尾は頻出するので、便利の爲に合字が策定されてゐる。サ變動詞であって、この合字を使はなくても好い。サ變合字は前の語から離して書くのが標準だが、習慣として附けて書くのも異形として許容される。</p>
<p>Coming soon.</p>

<h2>書例</h2>
<p>書例には古い規格によるものも含まれます。</p>
<p><a href="https://www.pinterest.com/nesachirou/%E6%A9%AB%E5%81%87%E5%90%8D/">Pinterest: 橫假名</a></p>

<h2>改訂履歷</h2>
<h3>2014-11-23</h3>
<p>や行のえ「𛀁 𛀀 ye」を作成した。</p>

<h3>2011年</h3>
<p>井上幸亨郞による改訂。2014-11-07に橘榛名の合意を得、規格を統一。現代の日本語文で、任意の假名に濁點や半濁點をつけるケースに對應した。また旣知の異形を明記した。</p>
<ul>
  <li>「お」は「か」の上部の點が無い形だった。「お」に濁點を付けるケースに對應する爲、"p"の筆記體に似せた形へ變更した。</li>
  <li>「と」は「も」の上部に點を附けた形だった。「も」に濁點を付けるケースに對應する爲、「と」に似せた別形へ變更した。</li>
</ul>

<h3>2007 〜 2009年頃</h3>
<p>橘榛名による改訂。</p>
<p>Coming soon.</p>
