---
title: 橫假名の一覽表
---
<nav class="breadcrumb">
  /                   c4se
  /yoko_kana/         橫假名
  /yoko_kana/standard 橫假名の一覽表
</nav>

<h1>{{title}}</h1>
<p>各假名の異形は、手癖の範圍に含まれると判斷された、旣知のものを揭載する。</p>
<table>
  <tr>
    <th>假名</th>
    <th>孤立形 (標準)</th>
    <th>續け書き (標準)</th>
    <th>由來</th>
    <th>異形</th>
  </tr>

  <tr>
    <td>あ ア</td>
    <td></td>
    <td>開かずの閒</td>
    <td>ひらがな「あ」の省略。ギリシャ文字α。</td>
    <td></td>
  </tr>
  <tr>
    <td>い イ</td>
    <td></td>
    <td>苺</td>
    <td>ひらがな「い」の續け書き。</td>
    <td></td>
  </tr>
  <tr>
    <td>う ウ</td>
    <td></td>
    <td>うわばみ</td>
    <td>ひらがな「う」の續け書き。ラテン文字zの筆記體。</td>
    <td></td>
  </tr>
  <tr>
    <td>え エ 𛀀</td>
    <td></td>
    <td>エウロパ</td>
    <td>ひらがな「え」の省略。</td>
    <td></td>
  </tr>
  <tr>
    <td>お オ</td>
    <td></td>
    <td>鬼</td>
    <td>ラテン文字pの筆記體。</td>
    <td></td>
  </tr>

  <tr>
    <td>か カ</td>
    <td></td>
    <td>觀音堂</td>
    <td>ひらがな「か」の省略。</td>
    <td></td>
  </tr>
  <tr>
    <td>き キ</td>
    <td></td>
    <td>嫌い</td>
    <td>ひらがな「き」の省略。</td>
    <td></td>
  </tr>
  <tr>
    <td>く ク</td>
    <td></td>
    <td>クチナシ</td>
    <td>ひらがな「く」の續け書き。</td>
    <td></td>
  </tr>
  <tr>
    <td>け ケ</td>
    <td></td>
    <td>蹴鞠</td>
    <td>ひらがな「け」の續け書き。</td>
    <td></td>
  </tr>
  <tr>
    <td>こ コ</td>
    <td></td>
    <td>こけし</td>
    <td>ひらがな「こ」の續け書き。ラテン文字rの筆記體。</td>
    <td></td>
  </tr>

  <tr>
    <td>さ サ</td>
    <td></td>
    <td>讚岐</td>
    <td>ひらがな「さ」の續け書き。キリル文字фの筆記體。</td>
    <td></td>
  </tr>
  <tr>
    <td>し シ</td>
    <td></td>
    <td>シジュウカラ</td>
    <td>カタカナ「シ」の續け書き。</td>
    <td></td>
  </tr>
  <tr>
    <td>す ス</td>
    <td></td>
    <td>姿煮</td>
    <td>ひらがな「す」の省略。</td>
    <td></td>
  </tr>
  <tr>
    <td>せ セ</td>
    <td></td>
    <td>セロリ</td>
    <td>カタカナ「セ」の續け書き。ラテン文字sの筆記體。</td>
    <td></td>
  </tr>
  <tr>
    <td>そ ソ</td>
    <td></td>
    <td></td>
    <td>ひらがな「そ」。ラテン文字nの筆記體。</td>
    <td></td>
  </tr>

  <tr>
    <td>た タ</td>
    <td></td>
    <td></td>
    <td>ひらがな「た」の續け書き。ラテン文字hの筆記體。</td>
    <td></td>
  </tr>
  <tr>
    <td>ち チ</td>
    <td></td>
    <td></td>
    <td>ひらがな「ち」の續け書き。</td>
    <td></td>
  </tr>
  <tr>
    <td>つ ツ</td>
    <td></td>
    <td></td>
    <td>ひらがな「つ」の續け書き。</td>
    <td></td>
  </tr>
  <tr>
    <td>て テ</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>と ト</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>な ナ</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>に ニ</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>ぬ ヌ</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>ね ネ</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>の ノ</td>
    <td></td>
    <td></td>
    <td>キリル文字гの筆記體。</td>
    <td></td>
  </tr>

  <tr>
    <td>は ハ</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>ひ ヒ</td>
    <td></td>
    <td></td>
    <td>ひらがな「ひ」の續け書き。ギリシャ文字θ。</td>
    <td></td>
  </tr>
  <tr>
    <td>ふ フ</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>へ ヘ</td>
    <td></td>
    <td></td>
    <td>ひらがな「へ」の續け書き。</td>
    <td></td>
  </tr>
  <tr>
    <td>ほ ホ</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>ま マ</td>
    <td></td>
    <td></td>
    <td>ラテン文字yの筆記體。</td>
    <td></td>
  </tr>
  <tr>
    <td>み ミ</td>
    <td></td>
    <td></td>
    <td>ひらがな「み」の續け書き。</td>
    <td></td>
  </tr>
  <tr>
    <td>む ム</td>
    <td></td>
    <td></td>
    <td>ひらがな「む」の續け書き。</td>
    <td></td>
  </tr>
  <tr>
    <td>め メ</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>も モ</td>
    <td></td>
    <td></td>
    <td>ひらがな「も」の省略。ラテン文字eの筆記體に點。</td>
    <td></td>
  </tr>

  <tr>
    <td>や ヤ</td>
    <td></td>
    <td></td>
    <td>ひらがな「や」の省略。</td>
    <td></td>
  </tr>
  <tr>
    <td>ゆ ユ</td>
    <td></td>
    <td></td>
    <td>ひらがな「ゆ」の省略。</td>
    <td></td>
  </tr>
  <tr>
    <td>𛀁</td>
    <td></td>
    <td></td>
    <td>ひらがな「𛀁」。ギリシャ文字κ。</td>
    <td></td>
  </tr>
  <tr>
    <td>よ ヨ</td>
    <td></td>
    <td></td>
    <td>ひらがな「よ」の省略。</td>
    <td></td>
  </tr>

  <tr>
    <td>ら ラ</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>り リ</td>
    <td></td>
    <td></td>
    <td>ひらがな「り」の續け書き。</td>
    <td></td>
  </tr>
  <tr>
    <td>る ル</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>れ レ</td>
    <td></td>
    <td></td>
    <td>ひらがな「れ」。</td>
    <td></td>
  </tr>
  <tr>
    <td>ろ ロ</td>
    <td></td>
    <td>ロシヤ</td>
    <td>ひらがな「ろ」。</td>
    <td></td>
  </tr>

  <tr>
    <td>わ ワ</td>
    <td></td>
    <td>山葵</td>
    <td>ひらがな「わ」の省略。</td>
    <td></td>
  </tr>
  <tr>
    <td>ゐ ヰ</td>
    <td></td>
    <td>居ないよ</td>
    <td>iの筆記體。</td>
    <td></td>
  </tr>
  <tr>
    <td>ゑ ヱ</td>
    <td></td>
    <td>ゑぐい</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>を ヲ</td>
    <td></td>
    <td>乙女</td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>ん ン</td>
    <td></td>
    <td>フォノン</td>
    <td>ひらがな「ん」。ラテン文字wの筆記體。</td>
    <td></td>
  </tr>
</table>

<h2>濁音・半濁音</h2>
<p>濁音・半濁音にしたい假名の上に、それぞれ濁音符・半濁音符を附ける。濁點・半濁點にあたるもので、さう呼んでもよい。</p>
<p>Coming soon.</p>
<p>濁音・半濁音の一部を例として擧げる。</p>
<table>
  <tr>
    <th>假名</th>
    <th>形</th>
  </tr>
  <tr>
    <td>が ガ</td>
    <td></td>
  </tr>
  <tr>
    <td>ゔ ヴ</td>
    <td></td>
  </tr>
  <tr>
    <td>ぱ パ</td>
    <td></td>
  </tr>
</table>

<h2>拗音・捨て假名</h2>
<p>拗音にしたい假名の上に、拗音符を附ける。捨て假名である、ぁ行や「ゎ」「ヶ」「ㇻ」等も同樣である。但し促音としての「っ」は例外で、後述の促音符を用ゐる。日本語文の碎けた表現等に於いて、促音でない「っ」を書く時は、當項目の拗音符を用ゐるべきである。</p>
<p>Coming soon.</p>
<p>拗音・捨て假名の一部を例として擧げる。</p>
<table>
  <tr>
    <th>假名</th>
    <th>形</th>
    <th>例</th>
  </tr>
  <tr>
    <td>ゃ ャ</td>
    <td></td>
    <td>きゃ キャ</td>
  </tr>
  <tr>
    <td>ゅ ュ</td>
    <td></td>
    <td>きゅ キュ</td>
  </tr>
  <tr>
    <td>ょ ョ</td>
    <td></td>
    <td>きょ キョ</td>
  </tr>
  <tr>
    <td>ぁ ァ</td>
    <td></td>
    <td>ヴぁ ヴァ</td>
  </tr>
</table>

<h2>促音</h2>
<p>促音を發音するモーラを一文字分空け、上に促音符を置く。</p>
<p>Coming soon.</p>

<h2>長音</h2>
<p>長音を發音するモーラを一文字分空け、上に長音符を置く。</p>
<p>Coming soon.</p>

<h2>サ變合字</h2>
<p>サ變の活用語尾は頻出するので、便利の爲に合字が策定されてゐる。サ變動詞であって、この合字を使はなくてもよい。サ變合字は前の語から離して書くのが標準だが、習慣として附けて書くのも異形として許容される。</p>
<p>Coming soon.</p>
<table>
    <tr>
      <th>活用語尾</th>
      <th>合字</th>
      <th>例</th>
    </tr>
  <tr>
    <td>せ</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>し</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>す</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>する</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>すれ</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>せよ</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>さ</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>しろ</td>
    <td></td>
    <td></td>
  </tr>
</table>

<h2>外來語符</h2>
<p>その語が、日本語として馴染みきってゐない、西洋語を音寫した外來語であることを明示する爲に、外來語符を語の左上に附けてもよい。附けなくてもよく、また附けるとしても文章の中で一度附ければ充分である。もちろん何度附けてもよい。橫假名は漢字・カタカナ・英語等と混ぜ書きできる爲、カタカナや英語等で書いてしまふことも多い。外來語符は單に讀む注意を促す強調ととられるべきで、他にどんな規範ももってゐない。</p>
<p>バジルパスタ</p>
<p>Coming soon.</p>

<h2>改訂履歷</h2>
<h3>2014-11-23</h3>
<p>や行のえ「𛀁」は「き」の上部の點が無い形だった。「お」や「も」の變更によりどの假名にも自由に濁點・拗音符が附けられるやうにした變更に追隨する爲、「𛀁」の形を「κ」に似せた形へ變更した。</p>

<h3>2011年</h3>
<p>井上幸亨郞による改訂。2014-11-07に橘榛名の合意を得、規格を統一。現代の日本語文で、任意の假名に濁點・半濁點や拗音符をつけるケースに對應した。また舊形を旣知の異形として明記した。</p>
<ul>
  <li>「お」は「か」の上部の點が無い形だった。「お」に濁點を付けるケースに對應する爲、「お」を“p”の筆記體に似せた形へ變更した。</li>
  <li>「と」は「も」の上部に點を附けた形だった。「も」に濁點を付けるケースに對應する爲、「と」を別形へ變更した。</li>
</ul>

<h3>2007 〜 2009年頃</h3>
<p>橘榛名による改訂。2007年に字上符の整理、大文字の廢止が行はれ、以降散發的な字形改訂を經て2009年頃一旦落ち著き、以降2014-11-07に井上幸亨郞の合意を得て規格が統一される迄橘榛名により用ゐられた。</p>
<p>創案者式に於いては、小字符は (恐らく拗音化に因る子音の變化を表現する爲) 付した文字の「次」の文字を小字にすると云ふ物であった。また、促音と長音とは單獨の文字ではなく字上符として表される物であった。故に、濁音符・半濁音符と小字符・長音符・促音符とを同時に付す必要が屢々生じた。此れに應ずる爲、複數の字上符を合字にした濁拗音符・半濁拗音符・長濁音符・長半濁音符等の符號が定められてゐた。しかし此の體系は煩瑣であり、小字が語頭に來るパターンには對應出來ず、また日本語の moraic な感覺とも合致しない。橘榛名による2007年の改訂では、小字符は付した文字を小字とする物とし、促音符と長音符は獨立の文字とし、字上符の合字を廢止した。</p>
<p>大文字に就いては、創案者による元資料に記述が見られるが、字形の仕樣は明示せられず一部の文字の書例を呈示するに留まり、また通常の字形との形や使用狀況の違ひに就いても明確ではなかった爲、全て廢止し、單にデザイン差として處理する事とした。</p>
<p>字形に就いては、主に優雅さ・書き易さ・讀み易さに配慮して字形變更を行ひ、一部の舊字形は廢止した。此の時點では、かさたはわ行以外の文字に濁音符・半濁音符を付す記法への配慮はしてゐない。字形を變更した文字は以下の通り。</p>
<ul>
  <li>に: 上部を下から書く形に變更。舊形存置。</li>
  <li>ぬ: 變更。舊形存置。</li>
  <li>は: 孤立形と語尾形を右に突き出す形に變更。舊形廢止。</li>
  <li>ひ: 二重丸形からθ形に變更。舊形廢止。</li>
  <li>み: 變更。舊形存置。</li>
  <li>り: 變更。舊形存置。</li>
  <li>れ: 縱畫を上から下ろす物のみに限定。下から上げる物は廢止。</li>
  <li>ゐ: 二重丸形からi形に變更。舊形廢止。</li>
  <li>ゑ: 變更。舊形存置。</li>
  <li>を: れに同じ。</li>
</ul>
