<link rel="stylesheet" href="/lib/assets/index.css"/>
<h1>c4se</h1>
<p>ようこそc4seへ。</p>
<h2>Projects</h2>
<div class="index">
  <section class="index_item">
    <h1><a href="/funisaya/">FuniSaya</a></h1>
    <p>FuniSaya、やいくつかの変名として活動し制作された楽曲を展示します。FuniSayaは現在捕縛され、活動を休止してゐます。</p>
  </section>
  <section class="index_item">
    <h1><a href="/yuraru/">yUraru yUsin / 兩河世界</a></h1>
    <p>自然言語を人工的につくりだす研究を行ってゐます。その成果としてユーラル語の完成を目指します。</p>
    <p>またその母胎となる歴史を創作します。</p>
  </section>
  <section class="index_item">
    <h1><a href="/yoko_kana/">橫假名</a></h1>
    <p>縦書きの文字として発達したひらがなの代はりとして、横書きに適したカナ文字を開発します。</p>
  </section>
  <section class="index_item">
    <h1><a href="/vertical_latin/">縦Latin / Latin縦活字</a></h1>
    <p>英語アルファベットに代表されるラテン文字を、縦書きに於いて使用し易くする方法を開発します。</p>
  </section>
</div>
<script src="/lib/assets/index.js"></script>
