<link rel="stylesheet" href="/lib/assets/index.css"/>

<p>ようこそc4seへ。</p>

<h1>Projects</h1>
<div class="index">
  <section class="index_item">
    <h1><a href="/funisaya/">FuniSaya</a></h1>
    <p><img src="" alt=""/></p>
    <p>FuniSaya、やいくつかの変名として活動し制作された楽曲を展示します。FuniSayaは現在捕縛され、活動を休止してゐます。</p>
  </section>
  <section class="index_item">
    <h1><a href="/yuraru/">yUraru yUsin / 兩河世界</a></h1>
    <p><img src="" alt=""/></p>
    <p>自然言語を人工的につくりだす研究を行ってゐます。その成果としてユーラル語の完成を目指します。</p>
    <p>またその母胎となる歴史を創作します。</p>
  </section>
  <section class="index_item">
    <h1><a href="/yoko_kana/">橫假名</a></h1>
    <p><img src="" alt=""/></p>
    <p>縦書きの文字として発達したひらがなの代はりとして、横書きに適したカナ文字を開発します。</p>
  </section>
  <section class="index_item">
    <h1><a href="/vertical_latin/">縦Latin / Latin縦活字</a></h1>
    <p><img src="" alt=""/></p>
    <p>英語アルファベットに代表されるラテン文字を、縦書きに於いて使用し易くする方法を開発します。</p>
  </section>
</div>

<h1>Members</h1>
<div class="profileIndex">
  <section class="profileIndex_item">
    <h1><a href="/profile/ne_sachirou">井上幸亨郎</a></h1>
    <p><a href="/profile/ne_sachirou"><img src="/lib/assets/ne_sachirou.png" alt="井上幸亨郎" height="128" width="128"/></a></p>
    <p>.｡oO(さっちゃんですよヾ(〃l _ l)ﾉﾞ☆)</p>
  </section>
  <section class="profileIndex_item">
    <h1><a href="/profile/lotus_gate">麻井シキ</a></h1>
    <p><a href="/profile/lotus_gate"><img src="/lib/assets/funisaya.png" alt="麻井シキ" height="128" width="128"/></a></p>
    <p>麻井シキは芙爾沙夜とも名乗ってゐます。詩を書くときは麻井シキと名乗ってきたので、詩以外のものをつくるときは芙爾沙夜と名乗るやうになったのがその経緯です。</p>
  </section>
  <section class="profileIndex_item">
    <h1><a href="/profile/ta_haruna">橘榛名</a></h1>
    <p><a href="/profile/ta_haruna"><img src="/lib/assets/火星帝國.png" alt="橘榛名" height="128"/></a></p>
    <p>橘榛名はユーラル世界を創りださうとしてゐます。架空世界を創るにはおおくの要素が必要なので、彼女はとても博學です。</p>
  </section>
</div>

<script src="/lib/assets/index.js"></script>
