<link rel="stylesheet" href="/lib/assets/index.css"/>
<h1>c4se</h1>
<div class="index">
  <section class="index_item">
    <h1><a href="/funisaya">FuniSaya</a></h1>
    <p>Para</p>
  </section>
  <section class="index_item">
    <h1><a href="/yuraru">yUraru yUsin</a></h1>
    <p>Para</p>
  </section>
  <section class="index_item">
    <h1><a href="/yoko_kana">橫假名</a></h1>
    <p>Para</p>
  </section>
  <section class="index_item">
    <h1><a href="/vertical_latin">縦Latin</a></h1>
    <p>Para</p>
  </section>
</div>
<script src="/lib/assets/index.js"></script>
