<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8"/>
  <title>c4se</title>
  <link rel="stylesheet" href="/lib/assets/layout.css"/>
  <script src="/lib/assets/traceur-runtime.js"></script>
</head>
<body>
  <article class="main_content">{{content | raw}}</article>
  <footer class="main_footer">
    <p><a href="/">c4se</a></p>
    <p><a href="https://github.com/ne-sachirou/c4se-web">Source code of this Web site.</a></p>
  </footer>
  <nav class="main_menu">
    <div class="main_menu_toggleBtn"><div class="main_menu_toggleBtn_inner">»</div></div>
    <ul>
      <li><a href="/">c4se</a></li>
      <li><a href="/funisaya/">FuniSaya</a></li>
      <li><a href="/yuraru/">yUraru yUsin / 兩河世界</a></li>
      <li><a href="/yoko_kana/">橫假名</a></li>
      <li><a href="/vertical_latin/">縦Latin / Latin縦活字</a></li>
    </ul>
  </nav>
  <script src="/lib/assets/layout.js"></script>
</body>
</html>
