<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>c4se</title>
  <link rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.ja"/>
  <link rel="stylesheet" href="/lib/assets/fonts/font-awesome.min.css"/>
  <link rel="stylesheet" href="/lib/assets/layout.css"/>
  <script src="/lib/assets/traceur-runtime.js"></script>
</head>
<body class="page">
  <article class="page_content">{{content | raw}}</article>
  <footer class="page_footer">
    <p><a href="/">c4se</a></p>
    <p><a href="https://github.com/ne-sachirou/c4se-web">Source code of this Web site.</a></p>
  </footer>
  <div class="page_topMenu">
    <div class="page_topMenu_left">
      <div class="page_topMenu_left_sideToggleBtn fa fa-chevron-right"></div>
      <div class="page_topMenu_left_siteName"><a href="/">c4se</a></div>
    </div>
    <nav class="page_topMenu_right">
      <ul>
        <li>
          <a href="#">Projects</a>
          <ul>
            <li><a href="/funisaya/">FuniSaya</a></li>
            <li><a href="/yuraru/"><span class="yuraru">yUraru yUsin</span> / 兩河世界</a></li>
            <li><a href="/yoko_kana/">橫假名</a></li>
            <li><a href="/vertical_latin/">縦Latin / Latin縦活字</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <nav class="page_sideMenu">
    <ul>
      <li><a class="fa fa-home" href="/">Home</a></li>
    </ul>
  </nav>
  <script src="/lib/assets/layout.js"></script>
</body>
</html>
