---
title: FuniSaya
---
<link rel="stylesheet" href="/lib/assets/funisaya/index.css"/>
<nav class="breadcrumb">
  /          c4se
  /funisaya/ FuniSaya
</nav>

<div class="jumbotron">
  <div class="jumbotron_mainVisual"><img src="/api/image/funisaya.png?h=360&w=360" alt="FuniSaya" height="360" width="360"/></div>
  <h1>FuniSaya 捕縛ボックス</h1>
</div>

<ol>
  <li><time>2015-06-01T00:39+09:00</time> <a href="https://vimeo.com/129356314">Strawberry Marshmallow</a>を公開。</li>
  <li><time>2015-05-31T02:33+09:00</time> <a href="https://youtu.be/s3BXIKuwut0">TongPougki デモ2</a>を公開。</li>
  <li><time>2015-05-30T16:38+09:00</time> lugtoHadzgu を製作中の樂曲に登錄。</li>
  <li><time>2015-05-28T01:51+09:00</time> TongPougki の題名を “Strawberry Marshmallow” と決定。</li>
  <li><time>2015-05-27T12:53+09:00</time> TongPougki のミキシング・マスタリングを完了。</li>
  <li><time>2015-05-24T01:06+09:00</time> <a href="https://vimeo.com/128677792">OzopRyitswe 縱</a>を公開。</li>
  <li><time>2015-05-23T14:25+09:00</time> <a href="https://soundcloud.com/c4se/pso-j318-22">PSO J318 - 22の界面</a>を公開。</li>
  <li><time>2015-03-01T01:00+09:00</time> <a href="https://twitter.com/ne_sachirou/status/571701533521231872">TongPougki デモ1</a>を公開。</li>
  <li><time>2014-12-10T19:36+09:00</time> <a href="http://tmbox.net/pl/706017">POFPjHFoihoa デモ1</a>を公開。</li>
</ol>

<table>
  <caption>製作中の樂曲</caption>
  <thead>
    <tr>
      <th rowspan="2">曲名</th>
      <th colspan="6">ステータス</th>
    </tr>
    <tr>
      <th>骨骼</th>
      <th>アレンジ</th>
      <th>ミキシング</th>
      <th>マスタリング</th>
      <th>アートワーク</th>
      <th>動畫</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>POFPjHFoihoa (暫定)</td>
      <td><meter value="1.0"/> 10%</meter></td>
      <td><meter value="0.4"/> 40%</meter></td>
      <td><meter value="0.0"/>  0%</meter></td>
      <td><meter value="0.0"/>  0%</meter></td>
      <td><meter value="0.0"/>  0%</meter></td>
      <td><meter value="0.0"/>  0%</meter></td>
    </tr>
    <tr>
      <td>Strawberry Marshmallow</td>
      <td><meter value="1.0"/>100%</meter></td>
      <td><meter value="1.0"/>100%</meter></td>
      <td><meter value="1.0"/>100%</meter></td>
      <td><meter value="1.0"/>100%</meter></td>
      <td><meter value="1.0"/>100%</meter></td>
      <td><meter value="1.0"/>100%</meter></td>
    </tr>
    <tr>
      <td>YukinoNaiSnowDome2 (暫定)</td>
      <td><meter value="0.3"> 30%</meter></td>
      <td><meter value="0.0">  0%</meter></td>
      <td><meter value="0.0">  0%</meter></td>
      <td><meter value="0.0">  0%</meter></td>
      <td><meter value="0.0">  0%</meter></td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>チョコレート・マスタースパーク</td>
      <td><meter value="0.7"> 70%</meter></td>
      <td><meter value="0.1"> 10%</meter></td>
      <td><meter value="0.0">  0%</meter></td>
      <td><meter value="0.0">  0%</meter></td>
      <td>制作無し</td>
      <td>制作無し</td>
    </tr>
    <tr>
      <td>lugtoHadzgu (暫定)</td>
      <td><meter value="1.0">100%</meter></td>
      <td><meter value="0.3"> 30%</meter></td>
      <td><meter value="0.0">  0%</meter></td>
      <td><meter value="0.0">  0%</meter></td>
      <td><meter value="0.0">  0%</meter></td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
  </tbody>
</table>

<table>
  <caption>東方アレンジ曲集</caption>
  <thead>
    <th>作業名</th>
    <th>ステータス</th>
  </thead>
  <tbody>
    <tr>
      <td>「オセアニア・エクリプスの歸還」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「ヘルボレス內閉機關」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「惱み無き土中ふくろう」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「土中ふくろうのおたずねは致死」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「弔問 =&gt; くるりら」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「フェーズFragaria」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「非協定世界時閒」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「ニュースハウンド」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「月見草」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「ユーフォルビア繁茂」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「謀なる二次覺醒」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「Tegnosofote Ri Kitu」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「Xeru Xuru」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「常ツ國の眠り」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「天ツ國の降臨」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「囘轉する橋梁」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「阿求シックレコード」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「チョコレート・マスタースパーク」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>アートワーク制作</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
  </tbody>
</table>

<table>
  <caption>公開作業</caption>
  <thead>
    <th>作業名</th>
    <th>ステータス</th>
  </thead>
  <tbody>
    <tr>
      <td>收集</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>Webサイトデザイン</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>Webサイト制作</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
  </tbody>
</table>
