---
title: FuniSaya
---
<link rel="stylesheet" href="/lib/assets/funisaya/index.css"/>
<nav class="breadcrumb">
  /          c4se
  /funisaya/ FuniSaya
</nav>

<div class="jumbotron">
  <div class="jumbotron_mainVisual"><img src="/api/image/funisaya.png?h=480&w=480" alt="FuniSaya" height="480" width="480"/></div>
  <h1>FuniSaya 捕縛ボックス</h1>
</div>

<table>
  <caption>製作中の楽曲</caption>
  <thead>
    <tr>
      <th rowspan="2">曲名</th>
      <th colspan="6">ステータス</th>
    </tr>
    <tr>
      <th>骨骼</th>
      <th>アレンジ</th>
      <th>ミキシング</th>
      <th>マスタリング</th>
      <th>アートワーク</th>
      <th>動画</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>POFPjHFoihoa (暫定)</td>
      <td><meter value="1.0"/> 10%</meter></td>
      <td><meter value="0.4"/> 40%</meter></td>
      <td><meter value="0.0"/>  0%</meter></td>
      <td><meter value="0.0"/>  0%</meter></td>
      <td><meter value="0.0"/>  0%</meter></td>
      <td><meter value="0.0"/>  0%</meter></td>
    </tr>
    <tr>
      <td>TongPougki (暫定)</td>
      <td><meter value="1.0"/>100%</meter></td>
      <td><meter value="0.4"/> 40%</meter></td>
      <td><meter value="0.0"/>  0%</meter></td>
      <td><meter value="0.0"/>  0%</meter></td>
      <td><meter value="0.0"/>  0%</meter></td>
      <td><meter value="0.0"/>  0%</meter></td>
    </tr>
    <tr>
      <td>YukinoNaiSnowDome2 (暫定)</td>
      <td><meter value="0.3"> 30%</meter></td>
      <td><meter value="0.0">  0%</meter></td>
      <td><meter value="0.0">  0%</meter></td>
      <td><meter value="0.0">  0%</meter></td>
      <td><meter value="0.0">  0%</meter></td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>チョコレート・マスタースパーク</td>
      <td><meter value="0.7"> 70%</meter></td>
      <td><meter value="0.1"> 10%</meter></td>
      <td><meter value="0.0">  0%</meter></td>
      <td><meter value="0.0">  0%</meter></td>
      <td>制作無し</td>
      <td>制作無し</td>
    </tr>
  </tbody>
</table>

<table>
  <caption>東方アレンジ曲集</caption>
  <thead>
    <th>作業名</th>
    <th>ステータス</th>
  </thead>
  <tbody>
    <tr>
      <td>「オセアニア・エクリプスの帰還」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「ヘルボレス内閉機関」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「悩み無き土中ふくろう」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「土中ふくろうのおたずねは致死」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「弔問 =&gt; くるりら」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「フェーズFragaria」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「非協定世界時間」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「ニュースハウンド」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「月見草」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「ユーフォルビア繁茂」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「謀なる二次覚醒」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「Tegnosofote Ri Kitu」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「Xeru Xuru」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「常ツ国の眠り」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「天ツ国の降臨」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「回転する橋梁」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「阿求シックレコード」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>「チョコレート・マスタースパーク」マスタリング</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>アートワーク制作</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
  </tbody>
</table>

<table>
  <caption>公開作業</caption>
  <thead>
    <th>作業名</th>
    <th>ステータス</th>
  </thead>
  <tbody>
    <tr>
      <td>収集</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>Webサイトデザイン</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
    <tr>
      <td>Webサイト制作</td>
      <td><meter value="0.0">  0%</meter></td>
    </tr>
  </tbody>
</table>
