@import '../bower_components/normalize-css/normalize';
@import '_settings';

@font-face {
  font-family: UniSeiJi;
  src        : url("/assets/uniseiji.ttf");
}

@font-face {
  font-family: yuraru-sans-serif;
  src        : url("/assets/Yuraru ru Soin 01'.ttf");
}

body {
  background        : $bg_color;
  color             : $front_color;
  font-family       : 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  font-size         : 9pt;
  font-smoothing    : antialiased;
  font-weight       : normal;
  letter-spacing    : 1px;
  line-height       : 13pt;
  margin            : 0;
  osx-font-smoothing: grayscale;
  text-rendering    : optimizeLegibility;
}

a {
  color                     : inherit;
  transition-duration       : $default_transition_duration;
  transition-timing-function: ease-in-out;

  &:hover {
    color          : $widget_active_color;
    text-decoration: underline overline;
  }
}

thead {
  color     : $widget_front_color;
  background: $widget_bg_color;
}

tbody {
  tr:nth-child(2n+1) { background: #eee; }
}

th { border: 1px solid $widget_front_color - #333; }

td { border: 1px solid $widget_front_color + #333; }
