.keyframes(@name; @frames) {
     @-moz-keyframes @name { @frames(); }
      @-ms-keyframes @name { @frames(); }
  @-webkit-keyframes @name { @frames(); }
          @keyframes @name { @frames(); }
}

.vendor(@property, @value) {
   -khtml-@{property} : @value;
     -moz-@{property} : @value;
      -ms-@{property} : @value;
       -o-@{property} : @value;
  -webkit-@{property} : @value;
          @{property} : @value;
}

@bg_color            : white;
@front_color         : black;
@widget_bg_color     : rgb( 55,  61,  73);
@widget_front_color  : rgb(160, 170, 191);
@widget_active_color : rgb( 53, 215, 187);

@default_transition_duration : 0.4s;
