@charset 'utf-8';
@import '_wavable';

.index {
  display         : flex;
  justify-content : space-between;
  position        : relative;

  &_item {
    background    : #111;
    border-radius : 2px;
    padding       : 0.5em;

    h1 { font-size : larger; }
  }
}
