@charset 'utf-8';
@import '_wavable';

.index {
  display  : flex;
  position : relative;

  &_item {
    background : white;
    box-shadow : 0 1px 1px gray;
    color      : black;
    padding    : 0.8em 3em;

    h1 { font-size : large; }
  }
}
