<p>麻井シキは芙爾沙夜とも名乗ってゐます。詩を書くときは麻井シキと名乗ってきたので、詩以外のものをつくるときは芙爾沙夜と名乗るやうになったのがその経緯です。</p>
<p><img src="/lib/assets/funisaya.png" alt="麻井シキ" height="128" width="128"/></p>
<p>麻井シキは自己否定の非常に強い人間です。傍で見てゐる者はハラハラとしますが、本人にしかわからぬ方法によって意識のバランスを保ってゐます。</p>
<p>プライベートを隠したがる人間で、特に詩を書いていることはひた隠しにしてゐるさうです。</p>
<p>Twitter: <a href="https://twitter.com/lotus_gate">lotus_gate</a></p>

<h1><a href="http://blog.livedoor.jp/lotus_gate/">囁き(うたかた)♪</a></h1>
<h2>Blog</h2>
<div class="feed" data-feed-url="http://blog.livedoor.jp/lotus_gate/atom.xml" data-feed-count="3"></div>

<link rel="stylesheet" href="/lib/assets/feed.css"/>
<script src="/lib/assets/feed.js"></script>
