<p>麻井シキは芙爾沙夜とも名乘ってゐます。詩を書くときは麻井シキと名乘ってきたので、詩以外のものをつくるときは芙爾沙夜と名乘るやうになったのがその經緯です。</p>
<p><img src="/lib/assets/funisaya.png" alt="麻井シキ" height="128" width="128"/></p>
<p>麻井シキは自己否定の非常に強い人閒です。傍で見てゐる者はハラハラとしますが、本人にしかわからぬ方法によって意識のバランスを保ってゐます。</p>
<p>プライベートを隱したがる人閒で、特に詩を書いてゐることはひた隱しにしてゐるさうです。</p>
<p>Twitter: <a href="https://twitter.com/lotus_gate">lotus_gate</a></p>

<h1>麻井シキ</h1>
<p>麻井シキ、或いは單にシキの名で、彼女は長く詩を書いてゐます。初期・中期には奇妙な文字組みと心情を調和させる技法を編み出したり、ケータイ電話向けのメールマガジンで、あまり一般的ではない形式の詩を積極的に配信してゐました。現在は行き詰まりを感じ、まったく違った技法を追求し、日本語で可能な詩の領域を廣げようとしてゐるやうです。感傷の絕對さに言葉の意味的な像を添わせ組み上げるのが彼女の得意な詩法です。</p>

<h1>芙爾沙夜</h1>
<p>詩でないものを作らうとしたときに考案されたペンネームです。主に音樂を作ってゐますが、過去には繪を描いたり同人誌を主催する際にもこの名は使はれました。</p>
<p>音樂グループのFuniSayaやCrainを主催してゐました。現在では「捕縛された」と稱して修行の身にはいってゐるので、芙爾沙夜の名で活動する機會は無くなってゐます。麻井シキの名で詩を書くことに集中してゐるやうです。</p>

<h1><a href="http://blog.livedoor.jp/lotus_gate/">囁き(うたかた)♪</a></h1>
<h2>Blog</h2>
<div class="feed" data-feed-url="http://blog.livedoor.jp/lotus_gate/atom.xml" data-feed-count="3"></div>

<link rel="stylesheet" href="/lib/assets/feed.css"/>
<script src="/lib/assets/feed.js"></script>
