<p>.｡oO(さっちゃんですよヾ(〃l _ l)ﾉﾞ☆)</p>
<p><img src="/lib/assets/ne_sachirou.png" alt="井上幸亨郎" height="128" width="128"/></p>
<p>井上幸亨郎の活動範囲は音樂、考察、プログラミングに及びます。真理によって世界に対向しやうとするのがその共通した態度です。人間と人類の理想がその考察の範囲です。心安らかに内向的に生きられるやうになりたいと思ってゐます。</p>
<p>「さっちゃん」或いは本名である「井上幸亨郎」と呼びかけられることを好みます。本人がゐないところで何と言はれてゐるかは、気にする以上のものではありません。</p>
<p>縦書きが趣味なので、橫假名に影響されて縦ラテンを創案しました。ももんがと云ふ架空存在を考案したことで知られてゐます。またこのc4seの<i>名目上の</i>主催でもあります。</p>
<p>Twitter: <a href="https://twitter.com/ne_sachirou">ne_sachirou</a></p>
<p>mailto: <a href="mailto:utakata.c4se@gmail.com">utakata.c4se@gmail.com</a>

<h1>音樂</h1>
<p>芙爾沙夜より先に音樂を作りはじめ、彼女を引きずり込みました。初期はケータイ電話上のMIDIアプリケーションで、現在は一台のPCだけで音樂を制作してゐます。ハードウェアは非常な安物を、ソフトウェアは全て無料のものを使用してゐるため、高価なものを欲しがり次々と買い続ける人々には、それは認証されたいだけではないのかと懐疑的です。</p>
<p>現在はFuniSayaを捕縛し、実験室に入ってゐます。</p>
<p>SoundCloud: <a href="https://soundcloud.com/c4se">c4se</a></p>
<p>Vimeo: <a href="https://vimeo.com/c4se">c4se</a></p>

<h1>考察</h1>
<p>真理と理想により、全世界に対向する実用的な、視点と倫理を見つける方法として、井上幸亨郎は思想を扱ってゐます。或るひとつの視点を見つければ、そこから全てがわかるはずだといふ超越論的な考へがその根本的なものです。</p>
<p>井上幸亨郎の考へ方は吉本隆明に大きな影響を受けてゐます。世界に対して全域的な自己の原像があり、すべての考へ方をそこで確かめることができるといふ癖がです。またどんな思想も実験で確かめることができる、その方法は必ずあるはずだと考へてゐます。</p>

<h1>プログラミング</h1>
<p>井上幸亨郎のプログラミングに関する興味は、文学的なものと數學的なものが交差する点に集中してゐます。世界の産業の先端を追う、新しいもの好きな姿勢が動機となり、取り組み始めました。また、彼の生活の糧でもあります。</p>
<p>井上幸亨郎はゆるやかな自由ソフトウェア主義者で、自分のソフトウェアをGNU GPLかCC 0 (Public Domain) で公開するのを好みます。またプログラム以外のものは、CC by-sa (表示-継承) かCC 0で公開することが殆どです。</p>
<p>GitHub: <a href="https://github.com/ne-sachirou">ne-sachirou</a></p>
<p>Bitbucket: <a href="https://bitbucket.org/ne_sachirou">ne_sachirou</a></p>

<h1>ももんが</h1>
<p>ももんがは生命体だとおもはれます。フラクタル空間を移動し念波で会話するためその生態はあまり知られてゐません。また個体の概念も曖昧で、癒合や分裂を行ってゐる節も観察されてゐます。常に狂ったやうな目を、口と頭から流してゐる不明な液体、頭から生えた植物が特徴で、不定形な長すぎる腕が偶に生えて来、本數も不定です。</p>
<p>百々ん蛾は、通常の人がももんがに会いにゆく時の正裝です。大きな蛾の觸角がついた仮面が特徴です。</p>
<p>ももんが王は、ももんがを統べる存在だと目されてゐます。誰もその顔や首以下の体を確認した者がゐないため、ももんがと同じく不明な存在です。</p>
<p>Pinterest: <a href="https://www.pinterest.com/nesachirou/%E3%82%82%E3%82%82%E3%82%93%E3%81%8C-momonga/">ももんが (mOmonga)</a></p>

<h1><a href="http://c4se.hatenablog.com">c4se記：さっちゃんですよ☆</a></h1>
<h2>Blog</h2>
<div class="feed" data-feed-url="http://c4se.hatenablog.com/feed" data-feed-count="3"></div>

<link rel="stylesheet" href="/lib/assets/feed.css"/>
<script src="/lib/assets/feed.js"></script>
