<p>.｡oO(さっちゃんですよヾ(〃l _ l)ﾉﾞ☆)</p>
<p><img src="/lib/assets/ne_sachirou.png" alt="井上幸亨郎" height="128" width="128"/></p>
<p>井上幸亨郎の活動範囲は音樂、考察、プログラミングに及びます。真理によって世界に対向しやうとするのがその共通した態度です。人間と人類の理想がその考察の範囲です。心安らかに内向的に生きられるやうになりたいと思ってゐます。</p>
<p>ももんがと云ふ架空存在を考案したことで知られてゐます。</p>
<p>Twitter: <a href="https://twitter.com/ne_sachirou">ne_sachirou</a></p>
<p>GitHub: <a href="https://github.com/ne-sachirou">ne-sachirou</a></p>
<p>Bitbucket: <a href="https://bitbucket.org/ne_sachirou">ne_sachirou</a></p>
<p>SoundCloud: <a href="https://soundcloud.com/c4se">c4se</a></p>
<p>Vimeo: <a href="https://vimeo.com/c4se">c4se</a></p>

<h1>ももんが</h1>
Pinterest: <a href="https://www.pinterest.com/nesachirou/%E3%82%82%E3%82%82%E3%82%93%E3%81%8C-momonga/">ももんが (mOmonga)</a>

<h1><a href="http://c4se.hatenablog.com">c4se記：さっちゃんですよ☆</a></h1>
<h2>Blog</h2>
<div class="feed" data-feed-url="http://c4se.hatenablog.com/feed" data-feed-count="3"></div>

<link rel="stylesheet" href="/lib/assets/feed.css"/>
<script src="/lib/assets/feed.js"></script>
