<p>橘榛名は『兩河世界』を創り出さうとしてゐます。架空世界を創るには多くの要素が必要なので、彼女はとても博學です。</p>
<p><img src="/lib/assets/火星帝國.png" alt="橘榛名" height="128"/></p>
<p>橘榛名が創り出さうとしてゐる世界は、大きく三つに分けられます。ユーラル、ガルデア、火星帝國です。此の三つの架空史として彼女の世界は成り立つてゐます。</p>
<p>火星帝國は、現在の日本國が未來の火星を支配した姿です。此處には橘榛名の周圍に對する願望と反感が映されてゐます。火星帝國には帝がゐます。政治的暗躍の結果、偶發的事故から派生してガルデアが太陽系を孤立させた際に、ガルデアに對する太陽系の代表權を獲得してゐます。其の遙か後にガルデアが内閉し此の銀河から退いて、ユーラルが霸權を握つた時にも、太陽系の代表としての面目を保つてゐます。</p>
<p>ガルデアは統合體とも云ふ特別な存在です。巨大な演算器により、全構成員の精神を實用的なレベルでは完全にシミュレートしてゐるとされてゐます。對外的には、機族を使つた強大な軍事力で自らのシミュレートの安全を保つてゐます。人工のよりよい自然と社會を創り出せると云ふ理想のもと、其れが革命により實現された社會です。脅かしうる勢力は滅ぼし、統合體構成員の精神的多樣性と安全を第一に重視するシミュレートで、極めて長く體制を保つて來ました。現宇宙の終はりを乘り切るのが當面の目的です。架空世界中の最新狀況では、シミュレートの一瞬の途切れから生じた矛盾を修正する爲に、他勢力との關係を斷つてゐます。其れでも猶、廣大な宙域を我が物としてゐます。</p>
<p>ユーラルはガルデアと同じ銀河にある古い帝國です。統合體が縮退した後に、其の遺產を利用して最大勢力と成り、太陽系が存在する銀河にも大きな影響力を持つてゐます。火星帝國、ガルデア、ユーラル帝國の三つともに〈偉大な中心〉が實在するのは、橘榛名の精神の型によるものです。彼女はユーラルの創造に最も力を割いてゐ、架空史とユーラル語 (<span class="yuraru">yUraru yUsin</span>) は充實してゐます。</p>
<p>橘榛名の當面の興味は、橫假名とユーラル語のメンテナンスにあります。</p>
<p>Twitter: <a href="https://twitter.com/ta_haruna">ta_haruna</a></p>
