@import '../_helpers';

.jumbotron {
  .cf;
  background : @front_color;
  color      : @bg_color;
  position   : relative;

  &_mainVisual { float : left; }

  h1 {
    margin-top : 220px;
    text-align : center;
  }
}
