@charset 'utf-8';

html, body {
  margin : 0;
  padding: 0;
}

body {
  background : white;
  color      : black;
  overflow   : hidden;
}

#world {
}

.loadingScene {
  font-size  : 16mm;
  height     : 6cm;
  line-height: 6cm;
  margin     : -3cm 0 0 0;
  position   : absolute;
  text-align : center;
  top        : 50%;
  width      : 100%;

  &_start {
    cursor : pointer;
    display: none;
  }
}
